<nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-25 ">
  
  <!-- LOGO (replaces Psbs text) -->
  <a class="navbar-brand ms-2" routerLink="Home">
    For Shoes
  </a>

  <!-- TOGGLER -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- CENTER LINKS -->
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLink="Home" routerLinkActive="bg-success text-light">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Men" routerLinkActive="bg-success text-light">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Women" routerLinkActive="bg-success text-light">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Kids" routerLinkActive="bg-success text-light">Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Accessories" routerLinkActive="bg-success text-light">Accessories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Cart" routerLinkActive="bg-success text-light">Cart</a>
      </li>
    </ul>

    <!-- RIGHT LINKS -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="Login" routerLinkActive="bg-success text-light">Login</a>
      </li>
      <li class="nav-item navbar-light bg-opacity-25  me-2">
        <a class="nav-link "
           routerLink="Register"
           routerLinkActive="active bg-success text-light">
          Register
        </a>
      </li>
    </ul>

  </div>
</nav>
